.tools-menu {
  bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 20px;
  position: absolute;
  width: 100px;
  z-index: 1;

  &__button {
    background-color: var(--color-accent);

    &:hover {
      background-color: var(--color-accent-hover);
    }
  }
}