html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

button {
    cursor: pointer;
}

input {
    background: none;
}

input, button {
    color: inherit;
    outline: none;
    font-size: inherit;
    font-family: inherit;
}