.widgets-menu {
  position: absolute;
  display: flex;
  gap: 8px;
  padding: 10px;
  z-index: 10;
  translate: 0 -150%;
  background-color: #FFF;
  border: none;
  border-radius: 4px;
  box-shadow:  0 4px 16px rgba(5, 0, 56, 0.12);

  &_centered {
    translate: -50% -150%;
  }

  &__button {
    user-select: none;
  }

  &__list-header {

  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
  }
}